# Ignore python cache files
__pycache__/
*.pyc

# Ignore your virtual environment
venv/

# Ignore your dataset and images
data/raw/*
data/processed/*
*.h5
*.pickle

# Do not ignore the .gitkeep files in those folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Machine Learning Artifacts
artifacts/*
!artifacts/.gitkeep

# Python Virtual Environments
__pycache__
.venv/

# macOS files
.DS_Store
